:root {
  --primary-color: #73c2fc;
  --secondary-color: white;
  --third-color: black;
  --forth-color: yellow;
  --fith-color: #0d1b32;
  --sixth-color: white;
  --heading-font: "Montserrat", sans-serif;
}
body {
  font-family: var(--heading-font);
  background-color: var(--third-color);
}
h1,
h2,
h3,
h4,
h6,
p {
  color: var(--sixth-color);
  font-family: var(--heading-font);
}

h1 {
  font-size: 50px;
  margin-top: 25px;
}
h2 {
  padding-top: 30px;
}

main {
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 9px;
  max-width: 1300px;
}
main img {
margin: 20px;
border-radius: 20px;

}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:20px;
}

main p {
  color: azure;
  font-size: 13px;
  padding: 25px;
  margin-top: 20px;
  text-align: start;
}

main .card{
  background: rgb(2, 2, 25);
  padding-top: 5px;
  padding-bottom: 15px;
}


.main-character {
  text-align: center;
  font-family: var(--heading-font);
  border-radius: 12px;
  padding: 20px;

}
.main-character p {
  font-family: var(--heading-font);
}

.main-character img {
  border-radius: 60px;
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about-section p{
  margin-bottom: 10px;

}
.btn-info {
  border-radius: 10px;
  font-size: 15px;
  padding: 15px 20px;
  margin-left: 10px;
  border-color: var(--forth-color);
}
.footer {
  color: var(--third-color);
}

.logo {
  max-height: 40px;

}
footer .social-links a {
  margin: 20px 20px;
  background: var(--primary-color);
  padding: 10px 14px;
  border-radius: 50px;
  max-height: 45px;
  color: var(--third-color);
}
footer .social-links a:hover {
  color: var(--sixth-color);
  background: var(--third-color);
}

footer .contact-box {
  background: var(--fith-color);
  padding: 100px;
  border-radius: 20px;
  border-style: dashed;
}


@media (max-width: 900px) {
  h1 {
    font-size: 20px;
  }
  main p{
    display: none;
  }

  .main-grid {
    grid-template-columns: 1fr;
  }
  h4 {
    font-size: 18px;
  }
  footer .contact-box {
    max-width: 200px;
  }
 .secondary-footer h4, p{
    display: none;
  }
  .mb-5 {
    display: none;
  
  }
  .btn-info {
    margin-bottom: 10px;
  }
  .about-grid {
    display: grid;
    grid-template-columns: 1fr;
    
  }
  .about-grid h2 {
    text-align: center;
  }

  .about-section h1 {
    display: none;
  }
}