:root{
    --primary-color:#73C2FC;
    --secondary-color:#58b6f9;
    --third-color:#131520;
    --forth-color:yellow;
    --heading-font:'Montserrat', sans-serif;
}
body{
    font-family: var(--heading-font);
    background-color: var(--third-color)
    
}
h1, h2, h3, p{
    color: white;
}

h1  {
    font-size: 70px;
}
h2{
    padding-top: 30px;
}

.main-character{
    text-align: center;
    background-color: var(--third-color);
    font-family: var(--heading-font);
    padding:160px 20px;
    
}
.main-character p {
    font-family: var(--heading-font);
    
}

.btn-info {
    border-radius: 10px;
    font-size: 15px;
    padding: 15px 20px;
    border-color: var(--forth-color);
    
}
.social-links{
    padding: 5px 5px;

    }
    

.col-6{
    padding: 10px 10px;
    border-radius: 10px 10px;
    background-color: var(--primary-color);
    line-height: 30px;;
   
    
}
.col-6 h2{
    text-align: center;   
    color: var(--third-color);
}

img{
    border-radius: 20px;
    border-style: dashed;
    max-width: 90%;
    padding: 10px 10pxs;
}

@media (max-width:900px){
    body{
    text-align: center;
    }
    h1{
        font-size: 50px;
    }
}